<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wisdomboxx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <%= link_to root_path, class: 'logo' do %>
          WisdomBoxx
          <% end %>
        </div>
        <div class="col-xs-4 slogan">
          ...
        </div>
        <div class="col-xs-5 links">
          <%= link_to 'Contribute', new_quote_path %>
        </div>
      </div>
    </div>
  </header>

  <hr />
  <br class="clear" />

  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
   <div class="container">
     <div class="row">
       <div class="col-xs-6">
         <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
       </div>
       <div class="col-xs-6 footer-blurb">
         Proudly hacked in Boulder, CO by LunaLikesArt
       </div>
     </div>
   </div>
 </div>

</body>
</html>
